.puppy-logo:before {
    background-image: url('puppylogo96.png');
    background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
}
#boxbar {
	float: right;
	height: 32px;
	margin-left: 1em;
}
th.nav {
    width: 84px;
}
th.nav:hover {
    background: #f5f5f5;
}
th.nav a {
    display:block;
    text-decoration:none;
}
.nav-icons {
	height: 24px;
	width: 24px;
}
noscript p {
	color:#FF518E
	border: 1px solid;
	padding: 1em;
	text-align: center;
	font-size: 0.8em;
}
.puppy-bar-bg { 
	margin-top: 3em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 2em;
	padding-bottom: 1.5em;
	text-align: center;
	font-size: 0.8em;
}

@media all and (max-width: 600px) {
th.nav {
    width: 36px;
}
}
