.puppy-logo:before {
    background-image: url('puppylogo96.png');
    background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
}
table {
	display: inline-block;
}
#navbox a { 
	display: block;
	height: 32px;
	text-indent: -9999px;
}
.home {
    background: url('home.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.home:hover {
    background: #f5f5f5 url('home.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.news {
    background: url('news.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.news:hover {
    background: #f5f5f5 url('news.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.dld {
    background: url('dld.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.dld:hover {
    background: #f5f5f5 url('dld.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.forum {
    background: url('forum.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.forum:hover {
    background: #f5f5f5 url('forum.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.wiki {
    background: url('wiki.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.wiki:hover {
    background: #f5f5f5 url('wiki.svg') no-repeat center; 
    background-size: 32px 32px;
    display: inline-block;
    width: 90px; 
    height: 32px;
    content:"";
}
.puppy-bar-bg { 
	margin-top: 3em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
