  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">  
  <link rel='icon' href='c/puppylogo96.png' type='image/png'>
  <link rel='stylesheet' href='v/bootstrap/2.1/cerulean.min.css'>
  <link rel='stylesheet' href='v/strapdown/strapdown.css'>
  <link rel='stylesheet' href='v/github/syntax.css'>
  <link rel='stylesheet' href='v/bootstrap/2.1/bootstrap-responsive.min.css'>
  <link rel='stylesheet' href='c/puppy.css'>
  <script src="v/chibi.min.js"></script>
  <!--script src="c/puppy.js"></script-->
