<!-- header html fragment -->
<nav class="navbar navbar-fixed-top">
	<div class="navbar-inner"> 
		<div class="container"> 
			<div id="headline" class="brand puppy-logo">Puppy Linux <!-- Header and Navigation -> Home, News, etc--> 
				<div id="boxbar">
					<ul>
						<li class="nav"><a href="index.html" title="Home"><img class="nav-icons" src="c/home.png" alt="Home"></a></li>
						<li class="nav"><a href="https://blog.puppylinux.com/" title="Puppy Linux Blog"><img class="nav-icons" src="c/news.png" alt="Blog"></a></li>
						<li class="nav"><a href="https://www.puppylinux.com/support.html" title="Puppy Linux Support"><img class="nav-icons" src="c/news.png" alt="Blog"></a></li>
						<li class="nav"><a href="index.html#download" title="Download"><img class="nav-icons" src="c/dld.png" alt="Download"></a></li>
						<li class="nav"><a href="https://forum.puppylinux.com" title="Discussion Forum"><img class="nav-icons" src="c/forum.png" alt="Forum"></a></li>
						<li class="nav"><a href="https://wikka.puppylinux.com" title="Puppy Linux wiki"><img class="nav-icons" src="c/wiki.png" alt="Wiki"></a></li>
					</ul>
				</div>
			</div> 
		</div>
	</div>
</nav>
<div id="nos">
	<noscript class="ns">The Puppy Linux Site is best viewed with JavaScript enabled</noscript>
</div>
