<!-- header html fragment -->
<nav class="navbar navbar-fixed-top">
	<div class="navbar-inner"> 
		<div class="container"> 
			<div id="headline" class="brand puppy-logo">  Puppy Linux <!-- Header and Navigation -> Home, News, etc--> 
				<button class="hamburger hamburger--3dx" type="button" aria-label="Toggle Navigation">
                	<span class="hamburger-box">
                    	<span class="hamburger-inner"></span>
                	</span>
                </button>
				<div id="boxbar">
					<ul>
						<li class="nav"><a href="index.html" title="Home"><img class="nav-icons" src="c/home.png" alt="Home"><span class="nav-label">Home</span></a></li>
						<li class="nav"><a href="https://forum.puppylinux.com/puppy-linux-collection" title="Download"><img class="nav-icons" src="c/dld.png" alt="Download page"><span class="nav-label">Download</span></a></li>
						<li class="nav"><a href="https://forum.puppylinux.com" title="Discussion Forum"><img class="nav-icons" src="c/forum.png" alt="Forum"><span class="nav-label">Forum</span></a></li>
						<li class="nav"><a href="https://wikka.puppylinux.com" title="Puppy Linux wiki"><img class="nav-icons" src="c/wiki.png" alt="Wiki"><span class="nav-label">Wiki</span></a></li>
					</ul>
				</div>
			</div> 
		</div>
	</div>
</nav>
<div id="nos">
	<noscript class="ns">The Puppy Linux Site is best viewed with JavaScript enabled</noscript>
</div>
